__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
.DS_Store
.env
.venv
venv/
.envrc
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.pfm_nsi_out/
pfm_nsi_out/
figures/
*.npz
*.json
*.log
!pfm_nsi/models/priors.npz
!pfm_nsi/models/cifti_surf_neighbors_lr_normalwall.npz
!pfm_nsi/models/mesh/fslr32k_cortex_masks.npz
